build/project/src/properties/global.properties
src/properties/global.properties
video-player-viewer.war/project/src/properties/global.properties
video-player-viewer.war/WEB-INF/classes/global.properties
